# Sphinx/RTD docs building requirements
sphinx
sphinx_rtd_theme
sphinx_autodoc_typehints
sphinx_paramlinks
-r ../dev_requirements.txt
# docs/conf.py is importing aedev.base and aedev.project_vars
aedev_base
aedev_project_vars
